name: release

on: workflow_dispatch

jobs:
  release:
    run-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: setup-dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'
    - run: dotnet build UnlimitedReroll -o bin --configuration Release
